language: java
script:
 - mvn package -B # Runs tests as part of package building

cache:
  directories:
  - $HOME/.m2

deploy:
  skip_cleanup: true
  provider: releases
  api_key: "$TOKEN"
  # Version number may change
  file_glob: true
  file: "target/*-shaded.jar"
  on:
    tags: true
