language: java

sudo: false

script:
 - mvn package -B # Runs tests as part of package building

cache:
  directories:
  - $HOME/.m2

notifications:
  email: false

before_deploy: # Create and zip javadoc
 - mvn javadoc:javadoc javadoc:jar -B
 - pushd target/site/apidocs
 - zip -r9 ../../../sci_documentation.zip .
 - popd

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: "$TOKEN"
    # Version number may change
    file_glob: true
    file:
    - "target/*-shaded.jar"
    - "target/*-javadoc.jar"
    - sci_documentation.zip
    on:
      tags: true
  - provider: pages
    skip_cleanup: true
    github-token: $TOKEN
    local-dir: target/site/apidocs
    verbose: true
    on:
      branch: master
